/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */ 
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



.navbar-jinhui {
    background: #3A3A3A;
    border: none;
}